body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}

section#mo-main_banner {
    width: 1600px;
    height: 880px;
    background: url('../img/main.png') no-repeat center;
    background-size: cover;
    color: white;
}

header {
    width: 1180px;
    display: flex;
    
}

a {
    text-decoration: none;
    color: white;
}

#mo_logo {

}

#mo-log_in {
    width: 180px;
    display: flex;
    justify-content: space-between;
}

main {
    display: block;
    text-align: center;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 36px;
    color: #ddd4d7;
}


